<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .container{
            margin: 25px;
        }
        .buttons{
            margin: 10px 0;
        }
    </style>
</head>
<body class="container">
<h3 class="form-title">LOGIN</h3>
<form action="/login" method="post">
    <div>
        账号: <input type="text" class="form-control" name="account" id="account"  >
    </div>
    <div class="buttons">
        <input type="submit" value="登陆" class="btn btn-primary btn-sm">
    </div>
</form>

</body>
<script>


</script>
</html>